#author {
	position:absolute;
	margin: 0px;
	top:10px;
	left: 10px;
	font-size: 25px;
	font-family:Helvetica;
}

#author a {
	text-decoration: none;
	color:black;
}

body {
    text-align: center;
    font-family: Helvetica;
}

.poster {
    height: 200px;
    padding: 5px;
}

#mySVG circle {
    fill: blue;
}
